@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

.game-info {
  color: #b8c6dc;
  font-size: 3vmin;
  font-weight: 500;
  padding: 2vmin 1vmin;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
